<div class="card">
    <div class="card-header"> {{data.location | uppercase}}</div>
        <div class="card-block">
            <ul class="list-group">
                <!--<li class="list-group-item">Momenteel:<strong>{{data.description}}</strong></li>
                <li class="list-group-item" *ngIf="data.temperature">Temperatuur:<strong>{{data.temperature | number:"1.1-1"}}</strong></li>
                <li class="list-group-item"><i class="fa fa-sun-o"></i> {{data.sunrise | date:"HH:mm" }}</li>
                <li class="list-group-item"><i class="fa fa-moon-o"></i> {{data.sunset | date:"HH:mm" }}</li>-->

                <li class="list-group-item">Momenteel:<string>{{weerLijst.description}}</string></li>
                <li class="list-group-item" *ngIf="data.temperature">Temperatuur:<string>{{weerLijst.temperature | number:"1.1-1"}}</string></li>
                <li class="list-group-item"><i class="fa fa-sun-o"></i> {{weerLijst.sunrise | date:"HH:mm" }}</li>
                <li class="list-group-item"><i class="fa fa-moon-o"></i> {{weerLijst.sunset | date:"HH:mm" }}</li>
            </ul>
        </div>
</div>